:root {
    --myPrimary: orangered;
    --box-shadow: 1px 1px 1px 1px var(--myPrimary);
  }
  @font-face {
    font-family: "CommitMono-200-Regular";
    src: local("CommitMono-200-Regular"),
      url("./assets/fonts/CommitMono/CommitMono-200-Regular.otf") format("truetype");
      font-size: '18px';
      font-style: normal;
  }
  
  html,
  body {
    height: 100%;
  }
  * {
    font-family: "CommitMono-500-Regular", sans-serif;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

